@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body{
   margin:0;
   font-family: 'Quicksand', sans-serif;
   background-image: url('https://github.com/Stropen/stropens/logos/betterxp.png');
   background-repeat: no-repeat;
} 
